<p id="notice"><%= notice %></p>
<%= image_tag @store.product_image,height:"150",width:"150" %>
<p>
  <strong>Glasses type:</strong>
  <%= @store.glasses_type %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @store.gender %>
</p>

<p>
  <strong>Frame type:</strong>
  <%= @store.frame_type %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @store.brand %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @store.color %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
