<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
       
        <a class="navbar-brand" href="index.html">
          <span>
            
          </span>
        </a>
        <div class="" id="">

          <div class="custom_menu-btn">
            <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/home/index">Home</a>
                <a href="/home/about">About</a>
                <a href="/gallery/index">Shop</a>
                
                <% if user_signed_in? %>
                <% $text=current_user.email%>
                    Logged in as <strong><%= current_user.email %></strong>.
                   <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                  <% else %>
                    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                <% end %>
               
              <a class="nav-link" href="/stores">Stores</a>
              
              </div>
            </div>
          </div>

        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <!-- slider section -->
  <section class="slider_section position-relative">

    <div class="container-fluid">

      <div class="row">

        <div class="col-md-6 mx-auto detail_container">

          <div class="detail-box">
            <h1>
              EYEPLUS
              <br> 
            </h1>
            <h2>
              Best Glasses
              <br> Collection
            </h2>
          <p class="navbar-text float-right">

             
            <li><% if session[:admin] %>
             <a href="/admin/logout" >Admin logout</a>
         <% else %>
             <a href="/admin/login">Admin login</a></li>
         <% end %>
            <div>
              <a href="/gallery/index/#lll" class="slider-link">
                Shop Now
              </a>
            </div>

          </div>
        </div>
        <div class="col-md-4 px-0">
          <div id="customCarousel1" class="carousel  slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="slider_img_box">
                  <img src="/assets/slider-bg.jpg" alt="">
                </div>
              </div>
              <div class="carousel-item">
                <div class="slider_img_box">
                  <img src="/assets/slider-bg.jpg" alt="">
                </div>
              </div>
              <div class="carousel-item">
                <div class="slider_img_box">
                  <img src="/assets/slider-bg.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn-box">
        
          
          <span class="sr-only">Previous</span>
        
        
          <span class="sr-only">Next</span>
        
      </div>
    </div>
  </section>
  <!-- end slider section -->

  <!-- category section -->

  <section class="cat_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box cat-box1">
            <img src="/assets/c1.jpg" alt="">
            <div class="detail-box">
              <h2>
                For Women
              </h2>
              <a href="">
                Shop Now 
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box cat-box2">
            <img src="/assets/c2.jpg" alt="">
            <div class="detail-box">
              <h2>
                For Men
              </h2>
              <a href="">
                Shop Now 
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box cat-box3">
            <img src="/assets/c3.jpg" alt="">
            <div class="detail-box">
              <h2>
                For kids
              </h2>
              <a href="">
                Shop Now 
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end category section -->

  <!-- shop section -->
  <section class="shop_section layout_padding">
    <div class="container">         
    <div class="heading_container heading_center">
</p>
<%= form_tag("/gallery/search", method: "get") do %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>



<h2 id="lll" ></h2>
<%= yield %>
  </div></div></div>
</section>

  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section  ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 px-0">
          <div class="img-box">
            <img src="/assets/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6 mx-auto detail_container">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              eyeplus is the leading e-commerce portal for eyewear in India. It has revolutionised the eyewear industry in the country with its omni-channel approach. From an ever-growing number of offline stores across major cities in the country to innovative integration of technology while purchasing online, eyeplus caters to every customer with several deals and offers.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- blog section -->

  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Latest From Blog
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/p2.png" alt="">
              <h4 class="blog_date">
                29/09/2021
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                FASHION GLASSES
              </h5>
              
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/p8.png" alt="">
              <h4 class="blog_date">
                29/08/2021
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                STYLISH GLASSES
              </h5>
              
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/p3.png" alt="">
              <h4 class="blog_date">
                29/07/2020
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                GREEN GLASSES
              </h5>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->

  <!-- client section -->
 
  <!-- end client section -->

  <!-- info section -->

  <section class="info_section ">
    <div class="container-fluid">
      <div class="row info_main_row">
        <div class="col-lg-7 mx-auto">
          <div class="row">
            <div class="col-md-4 info-col">
              <div class="info_detail">
                <h4>
                  About
                </h4>
                <p>
                  eyeplus is the leading e-commerce portal for eyewear in India. It has revolutionised the eyewear industry in the country with its omni-channel approach.
                </p>
                
              </div>
            </div>
            <div class="col-md-4 info-col">
              <div class="info_contact">
                <h4>
                  Reach at..
                </h4>
                <div class="contact_link_box">
                  
                    <span>
                      Location
                    </span>
                  
                  
                    <span>
                      Call 919490410337
                    </span>
                
                  
                    <span>
                      sowjanya.m@westagilelabs.com
                    </span>
                
                </div>
              </div>
            </div>
            <div class="col-md-4 info-col">
              <div class="info_contact">
                <h4>
                  Subscribe
                </h4>
                <form action="#">
                  <input type="text" placeholder="Enter email" />
                  <button type="submit">
                    Subscribe
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-0 info-col">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Eyeplus</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->
  </body>
</html>
